@model Capstone.Models.Fields

@{
    ViewData["Title"] = "Modifica Campo";
}

<h2>Modifica Campo</h2>

<form asp-action="EditField">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="NomeCampo">Nome Campo</label>
        <input type="text" class="form-control" asp-for="NomeCampo" />
        <span asp-validation-for="NomeCampo" class="text-danger"></span>
    </div>

    <!--<div class="form-group">
        <label for="Immagini">Immagini del Campo</label>
        <input type="file" name="Immagini" multiple class="form-control" />
        <div>
        
        </div>
    </div>
    -->
    <div class="form-group">
        <label for="Città">Città</label>
        <input type="text" class="form-control" asp-for="Città" />
        <span asp-validation-for="Città" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Indirizzo">Indirizzo</label>
        <input type="text" class="form-control" asp-for="Indirizzo" />
        <span asp-validation-for="Indirizzo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="TipoCampo">Tipo di Campo</label>
        <select class="form-control" asp-for="TipoCampo">
            <option value="0">Calcio a 5</option>
            <option value="1">Calcio a 7</option>
        </select>
        <span asp-validation-for="TipoCampo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="PrezzoOrario">Prezzo Orario (€)</label>
        <input type="number" class="form-control" asp-for="PrezzoOrario" step="0.01" />
        <span asp-validation-for="PrezzoOrario" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salva Modifiche</button>
</form>
