@model Capstone.Models.Fields

@{
    ViewData["Title"] = "Modifica Campo";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="bg-custom rounded p-5 my-4 mx-3 shadow">
            <div class="text-center mb-4">
                <h2 class="text-green">Modifica Campo</h2>
            </div>

            <hr class="myBorder" />

            <form asp-action="EditField" enctype="multipart/form-data" id="my-form">
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label for="NomeCampo" class="myText">Nome Campo</label>
                    <input type="text" class="form-control myBgForm myText" asp-for="NomeCampo" />
                    <span asp-validation-for="NomeCampo" class="text-danger"></span>
                </div>


                <div class="form-group mt-3">
                    <label for="Indirizzo" class="myText">Indirizzo</label>
                    <input type="text" class="form-control myBgForm myText" asp-for="Indirizzo" id="autocomplete"/>
                    <span asp-validation-for="Indirizzo" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label for="TipoCampo" class="myText">Tipo di Campo</label>
                    <select class="form-control myBgForm myText" asp-for="TipoCampo">
                        <option value="0">Calcio a 5</option>
                        <option value="1">Calcio a 7</option>
                    </select>
                    <span asp-validation-for="TipoCampo" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label for="PrezzoOrario" class="myText">Prezzo Orario (€)</label>
                    <input type="number" class="form-control myBgForm myText" asp-for="PrezzoOrario" step="0.01" />
                    <span asp-validation-for="PrezzoOrario" class="text-danger"></span>
                </div>

                <!-- Bottoni raggruppati e centrati -->
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn firstButton">Salva Modifiche</button>
                    <a asp-action="Index" asp-controller="Home" class="btn secondButton">Annulla</a>
                </div>
            </form>
        </div>
    </div>
</div>