@model Capstone.Models.Fields;

<!DOCTYPE html>
<html>
<head>
   
</head>
<body onload="initMap()">
    <h2>Posizione di: @ViewBag.Address</h2>

    <!-- Mappa -->
    <div id="map" style="height: 500px; width: 100%;"></div>
</body>
</html>